.ringContainer{
  width: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.ringContainer > span {
  position: absolute;
  margin: 0;
  left: 50%;
  transform: translate(-50%, 0);
}