.headerSearchBarCotnainer {
  width: 100%;
  height: 40px;
  border-radius: 9999px;
  position: relative;

  input {
    width: 100%;
    height: 100%;
   padding: 0 12px;
   padding-right: 40px;
   background-color: #ffffffed;
  }

  .searchIconContainer {
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translate(0%, -43%);
    width: 18px;
    border-radius: 9999px;
  }
}

.suggestionsList{
  max-height: 300px;
  position: absolute;
  overflow-y: auto;
  width: 400px;
  background-color: #fff;
  color: #000;
  margin-top: -4px;
  padding: 8px;
  border-radius: 4px;

  li{
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 16px;
    // padding: 0 8px;
    margin-bottom: 12px;
    border-radius: 4px;
    transition: 0.1s ease;
    &:hover {
      background-color:  var(--color-primary-main);
      color: var(--color-secondary-main)
    }

    img{
      height: 60px;
      width: 40px;
      font-size: 12px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      object-fit: cover;
      border-radius: 4px;
    }

    span.text-info{
      display: flex;
      flex-direction: column;
      gap: 4px;
      align-items: flex-start;

      & .name{
        font-weight: 500;
        font-size: 0.85rem;
      }

      & .year {
        font-size: 0.75rem;
      }
    }
  }
}