.welcomeSectionContainer {
  --slide-up-transition: transform 400ms ease-in-out;
  --search-submit-btn-gap: 2px
}

.upperContainer {
  transform: translateY(0%);
  transition: var(--slide-up-transition);
}


.shrinkUpperContainer {
  transform: translateY(-100%);
  /* transition: var(--slide-up-transition); */
}

.shrinkUpperContainer+.searchFormContainer {
  transform: translateY(-100%);
}

.searchFormContainer {
  transition: var(--slide-up-transition);
  transform: translateY(0);
}

.searchForm {
  position: relative;

}

.searchForm #searchBox {
  width: 100%;
}

#searchBox {
  padding: 12px 32px;
  border-radius: 999999px;
}

.searchSubmitBtn {
  display: inline-flex;
  position: absolute;
  top: var(--search-submit-btn-gap);
  right: var(--search-submit-btn-gap);
  border-radius: 999999px;
  background-color: #111827;
  color: #fff;
  height: calc(100% - (2* var(--search-submit-btn-gap)));
  width: 120px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-weight: 500;
}