
.welcomeSectionContainer {
  --slide-up-transition: transform 600ms ease-in-out;
  
}

.upperContainer{
  transform: translateY(0%);
  transition: var(--slide-up-transition);
}


.shrinkUpperContainer {
  transform: translateY(-100%);
  /* transition: var(--slide-up-transition); */
}

.shrinkUpperContainer+.searchFormContainer {
  transform: translateY(-100%);
}

.searchFormContainer{
  transition: var(--slide-up-transition);
  transform: translateY(0);
}

.searchForm {
  position: relative;

}

.searchForm #searchBox {
  width: 100%;
}

#searchBox {
  padding: 12px 32px;
  border-radius: 999999px;
}

.searchSubmitBtn {
  display: inline-flex;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 999999px;
  background-color: #111827;
  color: #fff;
  height: 100%;
  width: 120px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-weight: 500;
}