.dialogWrapper{
  padding: 16px;
  overflow-y: auto;
  position: relative;
  height: 100%;
  border-radius: 0.25rem;
}

.bgWrapper{
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  color: black;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: " ";
  z-index: -2;
  border-radius: 0.25rem;
  overflow: hidden;
}

.bgWrapper::after{
  background: linear-gradient(
    to bottom right,
    rgb(8 11 18),
    rgb(0 1 2 / 78%)
  );
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: " ";
}