:root {
  --color-primary-main: #111827;
  --color-secondary-main: #f5c518;
  /* ... */
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  /* min-width: 100vw; */
  overflow-x: auto;
}

input:focus,
button:focus,
a:focus{
  outline: none;
}

#root{
  min-height: 100vh;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  appearance: none;
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgb(138 138 138);
  box-shadow: 0 0 1px rgba(255,255,255,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

